apiVersion: extensions/v1beta1
kind: Pod
metadata:
  name: lifecycle-test
spec:
  replicas: 1
  revisionHistoryLimit: 1
  containers:
  - name: lifecycle-test
    image: nginx

    lifecycle:
      postStart:
        exec:
          command: ["/bin/sh", "-c", "echo Error from the postStart > /dev/stderr"]
      preStop:
        exec:
          command: ["/bin/sh", "-c", "echo Error from the preStop > /dev/stderr"]
